<div class="position-relative image-container">
    <img src="https://source.unsplash.com/featured/" class="img-fluid w-100 h-100" alt="Responsive image">
    <div class="d-sm-flex position-absolute bottom-0 start-0 ms-5 mb-3">
        <img src="https://source.unsplash.com/featured/150x150" class="rounded-4" alt="...">
        <div class="d-sm-flex flex-column ms-sm-4">
            <p class="display-5 text-white fw-medium uni-name">{{uniData?.uniName}}</p>
            <p class="fw-lighter fs-3 text-white" id="uniLocationTitle">{{uniData?.area}}</p>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <p class="display-5 fw-semibold text-info">About us</p>
        <p class="fs-4 paragraph">
            {{uniData?.description}}
        </p>
        <hr class="border-info my-4">
    </div>
    <div class="row px-5 bg-info bg-opacity-50" id="location">
        <div class="col-sm-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-column align-items-start h-100 py-5 ms-sm-5 ps-sm-5">
                <div class="flex-grow-1">
                    <p class="fs-2 fw-semibold uni-name">{{uniData?.uniName}}</p>
                    <p class="text-black fs-6" id="uniLocationDetails">Egypt, {{uniData?.govName}}, {{uniData?.area}}
                    </p>
                    <a href="{{uniData?.link}}" class="btn btn-outline-light rounded-pill" id="visit"
                        target="_blank">Visit our
                        website</a>
                </div>
                <div class="flex-grow-1">
                    <p class="fs-5 fw-semibold text-black">Contact details</p>
                    <p class="text-black fs-6"><i class="fa fa-envelope me-2"></i>email&#64;example.com</p>
                    <p class="text-black fs-6"><i class="fa fa-phone me-2"></i>01234567890</p>
                </div>
            </div>
        </div>
    </div>
</div>