<div class="position-relative image-container">
    <img src="https://source.unsplash.com/featured/" class="img-fluid w-100 h-100" alt="Responsive image">
    <div class="d-sm-flex position-absolute bottom-0 start-0 ms-5 mb-3">
        <img src="https://source.unsplash.com/featured/150x150" class="rounded-4" alt="...">
        <div class="d-sm-flex flex-column ms-sm-4">
            <p class="display-5 text-white fw-medium uni-name"></p>
            <p class="fw-lighter fs-3 text-white" id="uniLocationTitle"></p>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <p class="display-5 fw-semibold text-info">About us</p>
        <p class="fs-4 paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut
            labore et dolore
            magna aliqua. Risus ultricies tristique nulla aliquet enim tortor. At elementum eu facilisis sed odio
            morbi.
            Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Imperdiet proin fermentum leo vel.
            Morbi non arcu risus quis varius quam quisque id. Velit aliquet sagittis id consectetur purus ut
            faucibus.
            Phasellus egestas tellus rutrum tellus pellentesque eu. Nibh venenatis cras sed felis eget velit aliquet
            sagittis id. Elit ut aliquam purus sit amet.
            <br><br>
            Urna duis convallis convallis tellus. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Vitae
            nunc
            sed velit dignissim. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Etiam erat velit
            scelerisque in dictum non consectetur a erat. Porttitor rhoncus dolor purus non. Massa massa ultricies
            mi
            quis hendrerit dolor magna. Faucibus purus in massa tempor. Vitae proin sagittis nisl rhoncus mattis
            rhoncus. Scelerisque purus semper eget duis at tellus at urna condimentum. Proin fermentum leo vel orci
            porta. Non blandit massa enim nec dui. Urna molestie at elementum eu facilisis sed odio morbi quis.
            Feugiat
            scelerisque varius morbi enim. Et sollicitudin ac orci phasellus.
        </p>
        <hr class="border-info my-4">
    </div>
    <div class="row px-5 bg-info bg-opacity-50" id="location">
        <div class="col-sm-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-column align-items-start h-100 py-5 ms-sm-5 ps-sm-5">
                <div class="flex-grow-1">
                    <p class="fs-2 fw-semibold uni-name"></p>
                    <p class="text-black fs-6" id="uniLocationDetails"></p>
                    <a href="#" class="btn btn-outline-light rounded-pill" id="visit" target="_blank">Visit our
                        website</a>
                </div>
                <div class="flex-grow-1">
                    <p class="fs-5 fw-semibold text-black">Contact details</p>
                    <p class="text-black fs-6"><i class="fa fa-envelope me-2"></i>email&#64;example.com</p>
                    <p class="text-black fs-6"><i class="fa fa-phone me-2"></i>01234567890</p>
                </div>
            </div>
        </div>
    </div>
</div>