.application-card {
  height: 10rem;
}

.card-footer {
  color: black;
}

.card-footer:hover {
  color: white;
}

.modal-body {
  height: 20rem;
}

.uni-name:hover {
  color: var(--bs-info);
  cursor: pointer;
}

img {
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.disabled:hover {
  background-color: inherit;
  border-color: inherit;
}
