<div class="container py-3 mt-5">
    <div class="col-lg-6 mt-5">
        <h1 class="fw-bold text-uppercase text-info">where do you live?</h1>
        <p class="h5 mt-3"><small class="text-body-secondary">This helps us to give you the right support based on
                you location.</small></p>
        <form [formGroup]="addressForm" (ngSubmit)="submitAddress()" class="mt-5">
            <app-text-input [formControl]="$any(addressForm.controls['govName'])" [label]="'Governorate'"
                [list]="governoratesString"></app-text-input>
            <app-text-input [formControl]="$any(addressForm.controls['area'])" [label]="'Area'"
                [list]="areas"></app-text-input>
            <app-text-input [formControl]="$any(addressForm.controls['addressLine1'])"
                [label]="'Address Line 1'"></app-text-input>
            <app-text-input [formControl]="$any(addressForm.controls['addressLine2'])"
                [label]="'Address Line 2'"></app-text-input>
            <div class="text-end mt-5">
                <button type="button" class="btn btn-info text-white me-3" routerLink="/details">Previous</button>
                <button [disabled]="!addressForm.valid" type="submit" class="btn btn-info text-white">Next</button>
            </div>
        </form>
    </div>
</div>