<div class="home-body">
    <div class="position-relative image-container">
        <img src="https://source.unsplash.com/featured/" class="img-fluid w-100 h-100" alt="Responsive image">
        <div class="d-flex flex-column position-absolute top-50 start-50 translate-middle w-100 align-items-center">
            <p class="display-4 fw-bold text-uppercase text-center mb-4">Choose Your Future</p>
            <div class="card text-bg-info bg-opacity-25 rounded-5 w-75">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-underline" id="nav-underline-search" role="underlinelist">
                            <button class="nav-link active" id="nav-all-results-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-all-results" type="button" role="tab"
                                aria-controls="nav-all-results" aria-selected="true">All Results</button>
                            <button class="nav-link" id="nav-uni-tab" data-bs-toggle="tab" data-bs-target="#nav-uni"
                                type="button" role="tab" aria-controls="nav-uni" aria-selected="false">Uni &
                                Colleges</button>
                        </div>
                    </nav>
                    <div class="tab-content mt-3">
                        <div class="tab-pane show active" id="nav-all-results" role="tabpanel"
                            aria-labelledby="nav-all-results-tab" tabindex="0">
                            <form>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control bg-white border-white text-black" id="form-1"
                                        placeholder="Search for uni & colleges and information" aria-label="Search">
                                    <button class="btn bg-info" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="nav-uni" role="tabpanel" aria-labelledby="nav-uni-tab" tabindex="0">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control bg-white border-white text-black" id="form-2"
                                    placeholder="Search for uni & colleges" aria-label="Search">
                                <button class="btn bg-info" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5">
        <p class="fs-3 fw-bold mb-0">Recommended for you</p>
        <nav>
            <div class="nav nav-underline" id="nav-underline-recommend" role="tablist">
                <button class="nav-link active" id="nav-recommended-uni-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-recommended-uni" type="button" role="tab" aria-controls="nav-recommended-uni"
                    aria-selected="true">Uni &
                    Colleges</button>
                <button class="nav-link" id="nav-majors-tab" data-bs-toggle="tab" data-bs-target="#nav-majors"
                    type="button" role="tab" aria-controls="nav-majors" aria-selected="false">Majors</button>
            </div>
        </nav>
        <div class="tab-content overflow-y-scroll" id="recommendation">
            <div class="tab-pane fade show active h-100" id="nav-recommended-uni" role="tabpanel"
                aria-labelledby="nav-recommended-uni-tab" tabindex="0">
                <div *ngIf="(accountService.currentUser$ | async)"
                    class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1 row-cols-1 m-2 gy-4" id="RecommendedUnis">
                    <div class="col" *ngFor="let uni of unis">
                        <div class="card border-0 mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a [href]="uni.website" target="_blank">
                                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-4"
                                            alt="...">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a [href]="uni.website" target="_blank"
                                            class="link-offset-2 link-light link-underline link-underline-opacity-0 flex-grow-1">
                                            <h5 class="card-title">{{uni.name}}</h5>
                                        </a>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <p class="card-text">{{uni.city}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!(accountService.currentUser$ | async)"
                    class="d-flex flex-column h-75 align-items-center justify-content-center text-center">
                    <p class="fs-3 fw-medium w-50">Create an Account to View Recommended Universities</p>
                    <button class="btn bg-info fw-bold">Register now</button>
                </div>
            </div>
            <div class="tab-pane fade h-100" id="nav-majors" role="tabpanel" aria-labelledby="nav-majors-tab"
                tabindex="0">
                <div *ngIf="(accountService.currentUser$ | async)"
                    class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1 row-cols-1 m-2 gy-4"></div>

                <div *ngIf="!(accountService.currentUser$ | async)"
                    class="d-flex flex-column h-75 align-items-center justify-content-center text-center">
                    <p class="fs-3 fw-medium w-50">Create an Account to View Recommended Majors</p>
                    <button class="btn bg-info fw-bold">Register now</button>
                </div>
            </div>
        </div>
    </div>
</div>