<div class="container py-3 mt-5">
    <div class="col-lg-6 mt-5">
        <h1 class="fw-bold text-uppercase text-info">your interests</h1>
        <p class="h5 mt-3"><small class="text-body-secondary">This will help us personalize your account, by
                creating favorites which you can change later. </small><strong><small>These are not application
                    choices.</small></strong></p>
        <form [formGroup]="interestsForm" (ngSubmit)="submitInterests()" class="mt-5">
            <app-text-input [formControl]="$any(interestsForm.controls['subject'])"
                [label]="'Which subjects are you interested in?'" [fieldName]="'Subjects'" [typeahead]="subjects"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [typeaheadMultipleSearch]="true"
                typeaheadMultipleSearchDelimiters="," [placeholder]="'Ex: Mathematics,Physics...'"></app-text-input>

            <app-text-input [formControl]="$any(interestsForm.controls['university'])" [label]="'Which universities and colleges are you interested
                in?'" [fieldName]="'Universities'" [typeahead]="universities" [typeaheadScrollable]="true"
                [typeaheadOptionsInScrollableView]="5" [typeaheadMultipleSearch]="true"
                typeaheadMultipleSearchDelimiters="," [placeholder]="'Ex: AUC,GUC...'"></app-text-input>

            <app-text-input [formControl]="$any(interestsForm.controls['industry'])" [label]="'Which industries are you interested
            in?'" [fieldName]="'Industries'" [typeahead]="industries" [typeaheadScrollable]="true"
                [typeaheadOptionsInScrollableView]="5" [typeaheadMultipleSearch]="true"
                typeaheadMultipleSearchDelimiters="," [placeholder]="'Ex: Finance,Education...'"></app-text-input>

            <div class="text-end mt-5">
                <button type="button" class="btn btn-info text-white me-3" (click)="goBack()">Previous</button>
                <button [disabled]="!interestsForm.valid" type="submit" class="btn btn-danger text-white">Save and
                    Register</button>
            </div>
        </form>
    </div>
</div>