<div class="container py-3 mt-5">
    <div class="col-lg-6 mt-5">
        <h1 class="fw-bold text-uppercase text-info">your interests</h1>
        <p class="h5 mt-3"><small class="text-body-secondary">This will help us personalize your account, by
                creating favorites which you can change later. </small><strong><small>These are not application
                    choices.</small></strong></p>
        <form action="" class="mt-5 needs-validation" novalidate>
            <div class="mb-4">
                <label for="inputSubjects" class="form-label">Which subjects are you interested in?<span
                        class="text-danger">
                        *</span>
                </label>
                <p class="text-secondary">(3 choices remaining)</p>
                <div class="input-group has-validation">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Choose</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Math</li>
                        <li class="dropdown-item">Physics</li>
                        <li class="dropdown-item">Chemistry</li>
                    </ul>
                    <input type="text" class="form-control form-control-lg" aria-label="Text input with dropdown button"
                        required readonly>
                    <div class="invalid-feedback">
                        Please choose at least 3 subjects.
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="inputUnis" class="form-label">Which universities and colleges are you interested
                    in?<span class="text-danger">
                        *</span>
                </label>
                <div class="input-group has-validation mb-2">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Choose</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">AUC</li>
                        <li class="dropdown-item">GUC</li>
                        <li class="dropdown-item">ASU</li>
                    </ul>
                    <input type="text" class="form-control form-control-lg" aria-label="Text input with dropdown button"
                        required readonly>
                    <div class="invalid-feedback">
                        Please choose at least 3 subjects.
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Unsure
                    </label>
                </div>
            </div>
            <div class="mb-5">
                <label for="inputIndustry" class="form-label">Which industries are you interested
                    in?<span class="text-danger">
                        *</span>
                </label>
                <div class="input-group has-validation mb-2">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Choose</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Engineering</li>
                        <li class="dropdown-item">Business</li>
                        <li class="dropdown-item">Medicine</li>
                    </ul>
                    <input type="text" class="form-control form-control-lg" aria-label="Text input with dropdown button"
                        required readonly>
                    <div class="invalid-feedback">
                        Please choose at least 3 subjects.
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Unsure
                    </label>
                </div>
            </div>
            <div class="d-flex">
                <button type="button" class="btn btn-info text-white">Previous</button>
                <button type="submit" class="btn btn-danger text-white ms-auto">Save and Register</button>
            </div>
        </form>
    </div>
</div>