<div class="container-fluid p-5 mt-5">
    <div class="d-flex flex-column">
        <h1 class="display-5 fw-bold text-uppercase text-info">your hub</h1>
        <p class="lead fs-4">
            Explore your options
        </p>
    </div>
    <hr class="border-info">
    <div class="row align-items-center">
        <div class="col-sm">
            <div class="d-flex flex-column">
                <p class="fs-3 mb-1 fw-bold">Welcome back, <span class="text-capitalize">{{member?.firstName}}</span>
                </p>
                <p>You're applying for a university in {{member?.startUni}}</p>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-sm-end" *ngIf="!member?.application">
            <button class="btn btn-outline-light fw-bold" (click)="createApplication()"><i
                    class="fa fa-plus-circle me-2"></i>Start
                application</button>
        </div>
    </div>
    <div class="card shadow-lg mt-4" *ngIf="member?.application">
        <div class="card-body">
            <div class="row align-items-center gy-3">
                <div class="col-sm">
                    <h3 class="card-title fw-bold text-info">{{member?.startUni}} Undergraduate application</h3>
                    <p class="card-text h4">Your application is still in progress</p>
                    <p class="card-text">You have completed <span>50</span>% of your application. You need to
                        complete all
                        sections of
                        your application before you can submit it.</p>
                    <progressbar [animate]="false" [value]="progress" type="info" class="rounded-3"
                        style="height: 30px;">
                        <b class="fs-6">{{progress}}%</b>
                    </progressbar>
                </div>
                <div class="col-sm d-flex justify-content-sm-end">
                    <button class="btn btn-outline-light fw-bold" routerLink="/application">Go
                        to
                        application<i class="fa fa-arrow-circle-right ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-info my-4">

    <div class="card rounded-5 p-3" data-bs-theme="light">
        <div class="card-body">
            <h3 class="card-title fw-bold">Favorites</h3>
            <nav>
                <div class="nav nav-underline" id="nav-underline-favorites" role="tablist">
                    <button class="nav-link active" id="nav-uni-tab" data-bs-toggle="tab" data-bs-target="#nav-uni"
                        type="button" role="tab" aria-controls="nav-uni" aria-selected="true">Uni &
                        Colleges</button>
                </div>
            </nav>
            <div class="tab-content overflow-y-auto">
                <div class="tab-pane fade show active" id="nav-uni" role="tabpanel" aria-labelledby="nav-uni-tab"
                    tabindex="0">
                    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1 row-cols-1 m-2 gy-4" id="FavoriteUnis">
                        <div class="col" *ngFor="let uni of member?.favoriteUniversities; let i = index">
                            <div class="card border-0 mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://picsum.photos/200/200" class="card-img-top rounded-4"
                                            alt="..." (click)="goToUniPage(i)">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title uni-name" (click)="goToUniPage(i)">{{uni.uniName}}
                                            </h5>
                                            <div class="row align-items-start">
                                                <div class="col">
                                                    <p class="card-text">{{uni.area}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>