<div class="container py-3">
    <div class="col-lg-6 mt-5">
        <h1 class="fw-bold text-uppercase text-info">register</h1>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="mt-3">
            <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['firstName'])"
                [label]="'First Name'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['lastName'])"
                [label]="'Last Name'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
                [type]="'password'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
                [type]="'password'"></app-text-input>

            <div class="text-end">
                <button [disabled]="!registerForm.valid" type="submit" class="btn btn-info text-white">Continue</button>
            </div>
        </form>
    </div>
</div>