<div class="container py-3">
    <div class="col-lg-6 mt-5">
        <h1 class="fw-bold text-uppercase text-info">register</h1>

        <form #registerForm="ngForm" (ngSubmit)="register()" action="" class="mt-3 needs-validation" novalidate>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email<span class="text-danger"> *</span></label>
                <input name="email" [(ngModel)]="model.email" type="email" class="form-control form-control-lg"
                    id="inputEmail" placeholder="">
            </div>
            <div class="mb-3">
                <label for="inputFirstName" class="form-label">First name<span class="text-danger"> *</span></label>
                <input name="firstName" [(ngModel)]="model.firstName" type="text" class="form-control form-control-lg"
                    id="inputFirstName" placeholder="">
            </div>
            <div class="mb-3">
                <label for="inputLastName" class="form-label">Last name</label>
                <input name="lastName" [(ngModel)]="model.lastName" type="text" class="form-control form-control-lg"
                    id="inputLastName" placeholder="">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password<span class="text-danger"> *</span></label>
                <input name="password" [(ngModel)]="model.password" type="password" class="form-control form-control-lg"
                    id="inputPassword" placeholder="">
            </div>
            <div class="mb-5">
                <label for="inputConfirmPassword" class="form-label">Confirm password<span class="text-danger">
                        *</span></label>
                <input type="password" class="form-control form-control-lg" id="inputConfirmPassword" placeholder="">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-info text-white">Next</button>
            </div>
        </form>
    </div>
</div>